{% extends "base.html" %}
{% block content %}
<h1>{{ template_categories[template_category] }}</h1> 

  <div class="navbar">
    {% for category, label in template_categories.items() %}
      <a href="{{ url_for('locations', category=category) }}">{{ label }}</a> 
    {% endfor %}
  </div>

  <table>
    <colgroup>
      <col style="width: 20%">
      <col style="width: 70%">
      <col style="width: 10%">
    </colgroup>
    <tbody class="loctable">
        {% for location in template_locations %}
        <tr>
          <td class="loc">{{ location.name }}</td>
          <td class="desc">{{ location.description }}</td>
          <td class="btns">
            {% if location.category in ["recommended", "tovisit"]%}
            <form method="POST">
              <input type="submit" class="up" name="{{ location.name }}" value=&#8599;>
              <input type="submit" class="del" name="{{ location.name }}" value="X">
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

  <form class="addform" action="{{ url_for('add_location') }}" method="POST">
    {{ add_location.hidden_tag() }}
    <table>
      <colgroup>
        <col style="width: 40%">
        <col style="width: 40%">
        <col style="width: 20%">
      </colgroup>
      <tbody>
        <tr>
          <td>{{ add_location.name.label }}</td>
          <td>{{ add_location.description.label }}</td>
          <td>{{ add_location.category.label }}</td>
        </tr>
        <tr>
          <td>{{ add_location.name() }}</td>
          <td>{{ add_location.description() }}</td>
          <td>
            {% for btn in add_location.category %}
              <div>{{ btn() }}{{ btn.label }}</div>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td>{{ add_location.submit() }}</td>
        </tr>
      </tbody>
    </table>
  </form>
{% endblock %}
